pre {
  overflow-x: scroll;
  background: #F0F0F0;
}

nav li {
  list-style: none;
}

.some-space {
  padding-bottom: 40px;
}

.md\:max-w-4xl{max-width:56rem!important;}

#main-navbar {
  margin-top: 15px;
}

#lang {
  margin-left: 15px;
}

#main-footer {
  margin-top: 24px;
  /*position: absolute;*/
  /*bottom: 0;*/
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55/var(--tw-bg-opacity));
}

.ml-10 {
  margin-left: 10px;
}
