{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
  <title>{% trans "Kuzhina" %}</title>
  <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'img/cook.svg' %}"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/tailwind/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind/node_modules/flowbite/dist/flowbite.min.css' %}" />
  <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script>
    loadedTheme()
    hljs.initHighlightingOnLoad();
  </script>
  <link rel='stylesheet' href='{% static 'css/page.css' %}' type='text/css'>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="some-space"></div>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'css/tailwind/node_modules/flowbite/dist/flowbite.js' %}"></script>
    {% include "footer.html" %}
  </body>
</html>
