{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
  <title>{% trans "Kuzhina" %}</title>
  <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'img/cook.svg' %}"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind/node_modules/flowbite/dist/flowbite.min.css' %}" />
  <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="{% static 'js/scripts.js' %}"></script>

<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>
  <link rel='stylesheet' href='{% static 'css/page.css' %}' type='text/css'>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="some-space"></div>
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}
    <script src="{% static 'css/tailwind/node_modules/flowbite/dist/flowbite.js' %}"></script>
  </body>
</html>
